<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barky - Status</title>
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png"/>
    <link rel="manifest" href="/assets/site.webmanifest"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.prod.min.js"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
        // detect default theme - run early to prevent flash of un-styled content
        const shouldInitAsDark = localStorage.theme === 'dark';
        if (shouldInitAsDark || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    <style>
        td a {
            color: #3b82f6; /* blue-500 */
            text-decoration: underline;
        }

        .dark td a {
            color: #60a5fa; /* blue-400 */
        }

        /* Ensure consistent button background in dark mode */
        .dark button.bg-blue-500 {
            background-color: #3b82f6; /* Explicitly set blue-500 */
        }

        .dark button.bg-blue-500:hover {
            background-color: #60a5fa; /* Explicitly set blue-400 */
        }

        .dark button.bg-green-500 {
            background-color: #22c55e; /* Explicitly set green-500 */
        }

        .dark button.bg-green-500:hover {
            background-color: #16a34a; /* Explicitly set green-600 */
        }

        .dark button.bg-red-500 {
            background-color: #ef4444; /* Explicitly set red-500 */
        }

        .dark button.bg-red-500:hover {
            background-color: #dc2626; /* Explicitly set red-600 */
        }

        .dark button.bg-gray-500 {
            background-color: #6b7280; /* Explicitly set gray-500 */
        }

        .dark button.bg-gray-500:hover {
            background-color: #4b5563; /* Explicitly set gray-600 */
        }

        /* Explicit dark styles for muted status spans */
        .dark .bg-green-300 {
            background-color: #4ade80; /* green-400, adjust as needed */
            color: #1f2937; /* gray-800, adjust as needed */
        }

        .dark .bg-green-500 {
            background-color: #22c55e; /* green-500 */
        }

        #theme-toggle {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 50; /* Ensure it's above other content */
            padding: 0.5rem;
            border-radius: 9999px; /* Fully rounded */
            background-color: rgba(209, 213, 219, 0.7); /* gray-300 with transparency */
            color: #374151; /* gray-700 */
            border: 1px solid transparent;
            transition: background-color 0.2s, color 0.2s;
        }

        #theme-toggle:hover {
            background-color: rgba(156, 163, 175, 0.8); /* gray-400 with transparency */
        }

        .dark #theme-toggle {
            background-color: rgba(55, 65, 81, 0.7); /* gray-700 with transparency */
            color: #d1d5db; /* gray-300 */
        }

        .dark #theme-toggle:hover {
            background-color: rgba(75, 85, 99, 0.8); /* gray-600 with transparency */
        }
    </style>
</head>
<body class="bg-gray-100 dark:bg-gray-800 p-4 sm:p-8 flex justify-center min-h-screen transition-colors duration-300">

<div id="app"
     v-cloak
     class="bg-white dark:bg-gray-900 p-4 sm:p-6 rounded-lg shadow-md dark:shadow-lg w-full max-w-8xl overflow-auto relative">

    <button id="theme-toggle" @click="toggleTheme" aria-label="Toggle dark mode">
        <svg v-if="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"/>
        </svg>
        <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"/>
        </svg>
    </button>

    <div v-if="data">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100">🔥 Active
                {{ data.active.length > 0 ? `(${data.active.length})` : '' }}
                <div v-if="data.summary" class="text-xs text-gray-500 dark:text-gray-400 font-normal">Alerts active for
                    {{ humanizeTime(data.summary.startTime) }}
                </div>
                <div v-else class="text-xs text-gray-500 dark:text-gray-400 font-normal">
                    No active alerts
                </div>
            </h2>
            <div style="float:right" class="text-xs text-gray-500 dark:text-gray-400 font-normal">
                Refreshing in {{ timeToRefresh }}s
            </div>
        </div>

        <table v-if="data.active.length > 0"
               class="min-w-full table-fixed text-left border border-gray-200 dark:border-gray-700 text-sm">
            <thead>
            <tr class="bg-gray-100 dark:bg-gray-700">
                <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-1/12 text-gray-700 dark:text-gray-200">
                    Started
                </th>
                <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-2/12 text-gray-700 dark:text-gray-200">
                    Rule
                </th>
                <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                    Description
                </th>
                <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-right text-gray-700 dark:text-gray-200">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="snapshot in data.active" :key="snapshot.id"
                class="hover:bg-gray-50 dark:hover:bg-gray-800 text-gray-800 dark:text-gray-300">
                <td class="p-2 border-b border-gray-200 dark:border-gray-700 text-gray-500 dark:text-gray-400">
                    {{ humanizeTime(snapshot.startTime, false) }} ago
                </td>
                <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                     <span class="font-bold">{{ snapshot.type }}:{{ snapshot.label }} → <span
                             class="text-red-600 dark:text-red-500">{{ snapshot.identifier }}</span></span>
                </td>
                <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                     <span v-html="linkifyUrls(snapshot.last_result)">
                     </span>
                    <span v-if="snapshot.links.length">
                         &nbsp;
                         <template v-for="(link, index) in snapshot.links" :key="index">
                             <a class="font-small text-xs text-blue-600 dark:text-blue-400 hover:underline"
                                :href="link.url" target="_blank">{{ link.label }}</a>
                             <span v-if="index < snapshot.links.length - 1"> | </span>
                         </template>
                     </span>
                </td>
                <td class="p-1 border-b border-gray-200 dark:border-gray-700 text-right text-xs">
                    <button v-if="snapshot.dynamicMutes.length === 0" @click="showMuteModal(snapshot)"
                            class="bg-blue-500 text-white px-2 py-2 rounded hover:bg-blue-600 dark:hover:bg-blue-400">🔇&nbsp;Mute
                    </button>
                    <span v-else
                          class="relative inline-flex items-center px-3 py-1 text-sm font-semibold text-black bg-green-300 dark:bg-green-400 dark:text-gray-900 rounded-lg">
                             Muting...
                             <span class="absolute -top-1 -right-1 flex h-3 w-3">
                                 <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"></span>
                                 <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
                             </span>
                         </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="">
            <div class="flex justify-between items-center mb-4 pt-10">
                <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100">✅ Resolved
                    {{ data.resolved.length > 0 ? `(${data.resolved.length})` : '' }}
                    <div class="text-xs text-gray-500 dark:text-gray-400 font-normal">Resolved or muted alerts</div>
                </h2>
            </div>

            <table v-if="data.resolved.length > 0"
                   class="min-w-full table-fixed text-left border border-gray-200 dark:border-gray-700 text-sm">
                <thead>
                <tr class="bg-gray-100 dark:bg-gray-700">
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-1/12 text-gray-700 dark:text-gray-200">
                        Started
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-2/12 text-gray-700 dark:text-gray-200">
                        Rule
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                        Description
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-2/12 text-gray-700 dark:text-gray-200">
                        Duration
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="snapshot in data.resolved" :key="snapshot.id"
                    class="hover:bg-gray-50 dark:hover:bg-gray-800 text-gray-800 dark:text-gray-300">
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700 text-gray-500 dark:text-gray-400">
                        {{ simpleTime(snapshot.startTime) }}
                    </td>
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                         <span class="font-bold">{{ snapshot.type }}:{{ snapshot.label }} → <span
                                 class="text-red-600 dark:text-red-500">{{ snapshot.identifier }}</span></span>
                    </td>
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                        <span v-html="linkifyUrls(snapshot.last_result)"></span>
                        <span v-if="snapshot.links.length">
                         &nbsp;
                         <template v-for="(link, index) in snapshot.links" :key="index">
                             <a class="font-small text-xs text-blue-600 dark:text-blue-400 hover:underline"
                                :href="link.url" target="_blank">{{ link.label }}</a>
                             <span v-if="index < snapshot.links.length - 1"> | </span>
                         </template>
                     </span>
                    </td>
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700 text-green-600 dark:text-green-400">
                        {{ humanizeDuration(snapshot.durationInMinutes, "m") }} ({{ simpleTime(snapshot.resolvedTime)
                        }})
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="">
            <div class="flex justify-between items-center mb-4 pt-10">
                <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100">🔇 Muted
                    {{ data.muted.length > 0 ? `(${data.muted.length})` : '' }}
                    <div class="text-xs text-gray-500 dark:text-gray-400 font-normal">Alerts that have been muted
                        through mute rules
                    </div>
                </h2>
            </div>
            <table v-if="data.muted.length > 0"
                   class="min-w-full table-fixed text-left border border-gray-200 dark:border-gray-700 text-sm">
                <thead>
                <tr class="bg-gray-100 dark:bg-gray-700">
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-1/12 text-gray-700 dark:text-gray-200">
                        Started
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top w-2/12 text-gray-700 dark:text-gray-200">
                        Rule
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                        Description
                    </th>
                    <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-right w-1/12 text-gray-700 dark:text-gray-200">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="snapshot in data.muted" :key="snapshot.id"
                    class="hover:bg-gray-50 dark:hover:bg-gray-800 text-gray-800 dark:text-gray-300">
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                        {{ simpleTime(snapshot.startTime) }}<br/>
                        <span class="text-xs text-gray-500 dark:text-gray-400 font-normal">{{ humanizeTime(snapshot.startTime, false)
                            }} ago</span>
                    </td>
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                        <span class="font-bold">{{ snapshot.type }}:{{ snapshot.label }} → {{ snapshot.identifier
                            }}</span>
                    </td>
                    <td class="p-2 border-b border-gray-200 dark:border-gray-700">
                        <span v-html="linkifyUrls(snapshot.last_result)"></span>
                        <span v-if="snapshot.links.length">
                         &nbsp;
                         <template v-for="(link, index) in snapshot.links" :key="index">
                             <a class="font-small text-xs text-blue-600 dark:text-blue-400 hover:underline"
                                :href="link.url" target="_blank">{{ link.label }}</a>
                             <span v-if="index < snapshot.links.length - 1"> | </span>
                         </template>
                         </span>
                        <div class="text-xs text-gray-500 dark:text-gray-400 font-normal">
                            Mute end: {{ snapshot.muteDescriptor }}
                        </div>
                    </td>
                    <td class="p-1 border-b border-gray-200 dark:border-gray-700 text-right text-xs">
                        <button v-if="snapshot.dynamicMutes.length > 0" @click="showUnMuteModal(snapshot)"
                                class="bg-blue-500 text-white px-2 py-2 rounded hover:bg-blue-600 dark:hover:bg-blue-400">
                            📢&nbsp;Unmute
                        </button>
                        <span v-else-if="snapshot.dynamicMutes.length === 0 && snapshot.mutedBy?.every(x => x.dynamic)"
                              class="relative inline-flex items-center px-3 py-1 text-sm font-semibold text-black bg-green-300 dark:bg-green-400 dark:text-gray-900 rounded-lg">
                             Unmuting...
                             <span class="absolute -top-1 -right-1 flex h-3 w-3">
                                 <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"></span>
                                 <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
                             </span>
                         </span>
                        <span v-else class="text-xs text-gray-500 dark:text-gray-400 font-normal">
                             Muted by Digest Rule
                         </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div v-else class="text-gray-800 dark:text-gray-100">
        <p>Loading...</p>
    </div>

    <div v-if="muteModal.show" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-40">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-xl dark:shadow-lg max-w-2xl w-full m-4">
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100 mb-4">🤫 Mute Alert</h2>

            <p class="text-gray-700 dark:text-gray-300 mb-4">
                <strong class="text-gray-900 dark:text-gray-100">ID: </strong>
                <span class="bg-red-100 text-red-800 text-s font-medium me-2 px-1 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">{{ muteModal.snapshot.id
                    }}</span>
            </p>

            <div class="mb-4">
                <label for="mute_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Mute
                    Until</label>
                <input
                        id="mute_date"
                        v-model="muteModal.date"
                        type="date"
                        class="border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500 rounded-lg p-2 w-full"
                >
            </div>

            <div class="mb-4">
                <label for="mute_time" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Mute
                    Time</label>
                <select v-model="muteModal.time"
                        id="mute_time"
                        class="border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500 rounded-lg p-2 w-full"
                >
                    <option value="">Select time</option>
                    <option v-for="time in muteModal.times">{{ time.time }}</option>
                </select>
            </div>

            <div class="mt-6 flex justify-end gap-3">
                <button @click="mute(muteModal.snapshot, MuteOptions.OneHour)" v-if="!muteModal.time" title="Mute for 1 hour"
                        class="flex items-center justify-center bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed">
                    1hr
                </button>
                <button @click="mute(muteModal.snapshot, MuteOptions.FourHours)" v-if="!muteModal.time" title="Mute for 4 hours"
                        class="flex items-center justify-center bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed">
                    4hrs
                </button>
                <button @click="mute(muteModal.snapshot, MuteOptions.OneDay)" v-if="!muteModal.time" title="Mute for 1 day"
                        class="flex items-center justify-center bg-green-700 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed">
                    1 day
                </button>
                <button @click="mute(muteModal.snapshot, MuteOptions.Tomorrow)" v-if="!muteModal.time" title="Mute until tomorrow 8AM"
                        class="flex items-center justify-center bg-green-700 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed">
                    Tomorrow
                </button>
                <button @click="mute(muteModal.snapshot, MuteOptions.Monday)" v-if="!muteModal.time" title="Mute until the next Monday at 8AM"
                        class="flex items-center justify-center bg-green-800 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed">
                    Monday
                </button>
                <button v-if="muteModal.time"
                        @click="mute(muteModal.snapshot)"
                        :disabled="muteModal.isSaving"
                        class="flex items-center justify-center bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-200 disabled:bg-green-300 dark:disabled:bg-green-700 disabled:cursor-not-allowed"
                >
                    <svg v-if="muteModal.isSaving" class="animate-spin h-5 w-5 mr-2 text-white" viewBox="0 0 24 24"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                    </svg>
                    {{ muteModal.isSaving ? "Saving..." : "Save" }}
                </button>
                <button
                        @click="muteModal.show = false"
                        class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 transition duration-200"
                >
                    Close
                </button>
            </div>
        </div>
    </div>

    <div v-if="unMuteModal.show" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-40">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-xl dark:shadow-lg max-w-4xl w-full m-4">
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100 mb-4">📣 Unmute Alert</h2>

            <p class="text-gray-700 dark:text-gray-300 mb-4">
                <strong class="text-gray-900 dark:text-gray-100">ID: </strong>
                <span class="bg-red-100 text-red-800 text-s font-medium me-2 px-1 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">{{ unMuteModal.snapshot.id
                    }}</span>
            </p>

            <div class="overflow-x-auto">
                <table class="w-full text-left text-sm">
                    <thead>
                    <tr class="bg-gray-100 dark:bg-gray-700">
                        <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                            Match
                        </th>
                        <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                            Muted From
                        </th>
                        <th class="p-2 border-b border-gray-200 dark:border-gray-600 align-top text-gray-700 dark:text-gray-200">
                            Muted To
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-800 dark:text-gray-300">
                    <tr v-for="match in unMuteModal.snapshot.dynamicMutes"
                        class="hover:bg-gray-50 dark:hover:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
                        <td class="p-2">{{ match.match }}</td>
                        <td class="p-2">{{ new Date(match.from).toLocaleString()}}</td>
                        <td class="p-2">{{ new Date(match.to).toLocaleString() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-6 flex justify-end gap-3 pt-10">
                <button
                        @click="unmute(unMuteModal.snapshot)"
                        :disabled="unMuteModal.isSaving"
                        class="flex items-center justify-center bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-200 disabled:bg-red-300 dark:disabled:bg-red-700 disabled:cursor-not-allowed"
                >
                    <svg v-if="unMuteModal.isSaving" class="animate-spin h-5 w-5 mr-2 text-white" viewBox="0 0 24 24"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                    </svg>
                    {{ unMuteModal.isSaving ? "Saving..." : "Unmute" }}
                </button>


                <button
                        @click="unMuteModal.show = false"
                        class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 transition duration-200"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const {createApp, ref, onMounted} = Vue;

    const MuteOptions = {
        Custom: "Custom",
        OneHour: "OneHour",
        FourHours: "FourHours",
        OneDay: "OneDay",
        Tomorrow: "Tomorrow",
        Monday: "Monday"
    };

    function humanizeDuration(time, type, includeSeconds = true) {
        let minutes = time;
        let defaultTypeText = "mins";
        switch (type?.toLowerCase()?.trim()) {
            case "s":
                minutes = time / 60;
                defaultTypeText = "secs";
                break;
            case "m":
                minutes = time;
                defaultTypeText = "mins";
                break;
            case "h":
                minutes = time * 60;
                defaultTypeText = "hrs";
                break;
        }
        const secondsText = humanizeSeconds((minutes - Math.floor(minutes)) * 60);
        const minsText = humanizeMinutes(minutes % 60);
        const hoursText = humanizeHours(minutes / 60);
        const components = [hoursText, minsText];
        if (includeSeconds) {
            components.push(secondsText);
        }
        const text = components.filter(x => !!x).join(", ");
        if (text.length === 0) {
            return `0 ${defaultTypeText}`;
        }
        return text.replace(/,\s+([^,]+)$/, `, $1`);
    }

    function humanizeSeconds(seconds) {
        const value = Math.floor(seconds);
        return value === 0 ?
            "" :
            `${value} ${pluraliseWithS("sec", value)}`;
    }

    function humanizeMinutes(minutes) {
        const value = Math.floor(minutes);
        return value === 0 ?
            "" :
            `${value} ${pluraliseWithS("min", value)}`;
    }

    function humanizeHours(hours) {
        const value = Math.floor(hours);
        return value === 0 ?
            "" :
            `${value} ${pluraliseWithS("hr", value)}`;
    }

    function pluraliseWithS(word, count) {
        return count === 1 ?
            word :
            `${word}s`;
    }

    function padZero(value) {
        return value < 10 ? `0${value}` : value;
    }

    function simpleDate(date) {
        return simpleTime(date).split(" ")[0];
    }

    function dateString(dt) {
        return `${dt.getFullYear()}-${padZero(dt.getMonth() + 1)}-${padZero(dt.getDate())}`;
    }

    function simpleTime(date) {
        const dt = typeof date === 'string' ? new Date(date) : date;
        const today = new Date();
        let hours = dt.getHours();
        const minutes = padZero(dt.getMinutes());
        const seconds = padZero(dt.getSeconds());
        const ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours === 0 ? 12 : hours; // Convert 0 to 12 for 12AM/PM
        const time = `${hours}:${minutes}:${seconds} ${ampm}`;
        const isToday = dt.getDate() === today.getDate() &&
            dt.getMonth() === today.getMonth() &&
            dt.getFullYear() === today.getFullYear();
        if (isToday) {
            return time;
        }
        const dateComponent = dateString(dt);
        return `${dateComponent} ${time}`;
    }

    function linkifyUrls(text) {
        const regex = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.\S{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.\S{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.\S{2,}|www\.[a-zA-Z0-9]+\.\S{2,})/gi;
        return text.replace(regex, '<a href="$1" target="_blank">$1</a>');
    }

    function escapeRegex(str) {
        return str.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    }

    function mutePatternForIdentifier(id) {
        return escapeRegex(id.replaceAll("|", "::"));
    }

    function getTimeChunksForRestOfDay(from) {
        const chunkInterval = 15;
        let now = new Date(from);
        now.setHours(0);
        now.setMinutes(0);
        const today = new Date();
        if (now.getDate() === today.getDate()) {
            now = today;
        }
        let minutes = now.getMinutes();
        let nextChunkMinutes = Math.ceil(minutes / chunkInterval) * chunkInterval;
        if (nextChunkMinutes === 60) {
            now.setHours(now.getHours() + 1);
            nextChunkMinutes = 0;
        }
        now.setMinutes(nextChunkMinutes, 0, 0);
        const times = [];
        const date = now.getDate();
        while (now.getHours() < 24 && now.getDate() === date) {
            times.push(now.toTimeString().split(" ")[0].slice(0, 5)); // Format HH:MM
            now.setMinutes(now.getMinutes() + chunkInterval);
        }
        return times.map(x => ({time: x}));
    }

    function today() {
        const now = new Date();
        return `${now.getFullYear()}-${padZero(now.getMonth() + 1)}-${padZero(now.getDate())}`;
    }

    function getMuteEndDescriptor(mutedBy, muteRules) {
        if (!mutedBy) {
            return null;
        }
        const todaysMute = mutedBy[0];
        const isTodayOnly = muteRules.length === 0
            || (muteRules.length === 1 && muteRules[0].dateString === today());
        if (isTodayOnly) {
            const end = todaysMute.endTime;
            const days = todaysMute.days ?? [];
            const daysString = days.length > 0 ? `[${days.join(", ")}]` : ""
            return `${end.time} ${daysString}`;
        }
        const maxDateRule = muteRules.reduce((acc, x) => {
            if (acc === null) {
                return x;
            }
            return new Date(acc.date) > new Date(x.date) ? acc : x;
        }, null);
        const until = simpleDate(maxDateRule.date) + " at " + maxDateRule.endTime.time
        return `${until}`;
    }

    createApp({
        setup() {
            const refreshInterval = 10;
            const data = ref(null);
            const muteModal = ref({
                date: null,
                times: [],
                snapshot: null,
                show: false,
                isSaving: false
            });
            const unMuteModal = ref({
                snapshot: null,
                show: false,
                isSaving: false
            });
            const currentTime = ref(Date.now());
            const timeToRefresh = ref(refreshInterval);
            const isDarkMode = ref(document.documentElement.classList.contains('dark'));

            function toggleTheme() {
                isDarkMode.value = !isDarkMode.value;
                if (isDarkMode.value) {
                    document.documentElement.classList.add('dark');
                    localStorage.theme = 'dark';
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.theme = 'light';
                }
            }

            Vue.watch(() => muteModal.value.date, () => {
                muteModal.value.times = getTimeChunksForRestOfDay(muteModal.value.date);
            });

            function humanizeTime(time, includeSeconds = true) {
                const minutes = (+currentTime.value - new Date(time)) / 1000 / 60;
                return humanizeDuration(minutes, "m", includeSeconds);
            }

            function showMuteModal(snapshot) {
                const now = new Date();
                const date = `${now.getFullYear()}-${padZero(now.getMonth() + 1)}-${padZero(now.getDate())}`;
                muteModal.value.time = "";
                muteModal.value.date = date;
                muteModal.value.snapshot = snapshot;
                muteModal.value.isSaving = false;
                muteModal.value.show = true;
            }

            function showUnMuteModal(snapshot) {
                unMuteModal.value.snapshot = snapshot;
                unMuteModal.value.isSaving = false;
                unMuteModal.value.show = true;
            }

            const fetchStatus = async () => {
                try {
                    const response = await fetch('/api/status');
                    const result = await response.json();
                    const changes = {
                        summary: result.summary,
                        active: result.active,
                        resolved: result.resolved.map(x => {
                            return {
                                ...x,
                                durationInMinutes: (new Date(x.resolvedTime) - new Date(x.startTime)) / 1000 / 60
                            };
                        }),
                        muted: result.muted.map(x => {
                            return {
                                ...x,
                                muteDescriptor: getMuteEndDescriptor(x.mutedBy, x.muteRules)
                            }
                        }),
                    };
                    data.value = changes;
                } catch (err) {
                    console.error('Error fetching status:', err);
                } finally {
                    timeToRefresh.value = refreshInterval;
                }
            };

            async function unmute(snapshot) {
                unMuteModal.value.isSaving = true;
                try {
                    const body = JSON.stringify({
                        matches: snapshot.dynamicMutes.map(x => x.match)
                    });
                    const response = await fetch('/api/unmute', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body
                    });
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    const result = await response.json();
                    console.log('Unmute success:', result);
                    await fetchStatus();
                    unMuteModal.value.isSaving = false;
                    unMuteModal.value.show = false;
                } catch (error) {
                    console.error('Unmute failed:', error);
                }
            }

            function getMuteModalDateTimeStateFor(type) {
                const dt = new Date();
                let date = muteModal.value.date;
                let time = muteModal.value.time;
                switch (type) {
                    case MuteOptions.OneHour:
                        dt.setHours(dt.getHours() + 1);
                        date = dateString(dt);
                        time = padZero(dt.getHours()) + ":" + padZero(dt.getMinutes());
                        break;
                    case MuteOptions.FourHours:
                        dt.setHours(dt.getHours() + 4);
                        date = dateString(dt);
                        time = padZero(dt.getHours()) + ":" + padZero(dt.getMinutes());
                        break;
                    case MuteOptions.OneDay:
                        dt.setDate(dt.getDate() + 1);
                        date = dateString(dt);
                        time = "08:00";
                        break;
                    case MuteOptions.Tomorrow:
                        dt.setDate(dt.getDate() + 1);
                        date = dateString(dt);
                        time = "08:00";
                        break;
                    case MuteOptions.Monday:
                        const day = dt.getDay();
                        const daysUntilMonday = (8 - day) % 7;
                        dt.setDate(dt.getDate() + daysUntilMonday);
                        date = dateString(dt);
                        time = "08:00";
                        break;
                }
                return new Date(`${date} ${time}:00.000`);
            }

            const mute = async (snapshot, type) => {
                type ||= MuteOptions.Custom;
                const to = getMuteModalDateTimeStateFor(type);
                muteModal.value.isSaving = true;
                try {
                    const body = JSON.stringify({
                        from: new Date(),
                        to,
                        match: mutePatternForIdentifier(snapshot.id)
                    });
                    const response = await fetch('/api/mute', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body
                    });
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    const result = await response.json();
                    console.log('Mute success:', result);
                    await fetchStatus();
                    muteModal.value.isSaving = false;
                    muteModal.value.show = false;
                } catch (error) {
                    console.error('Mute failed:', error);
                }
            };

            onMounted(() => {
                const oneSec = 1_000;
                fetchStatus();
                setInterval(fetchStatus, refreshInterval * oneSec);
                setInterval(() => {
                    currentTime.value = Date.now();
                    timeToRefresh.value = Math.max(0, timeToRefresh.value - 1);
                }, oneSec);

                window
                    .matchMedia('(prefers-color-scheme: dark)')
                    .addEventListener('change', event => {
                        const userHasSetTheme = ('theme' in localStorage);
                        if (!userHasSetTheme) {
                            if (event.matches) {
                                document.documentElement.classList.add('dark');
                                isDarkMode.value = true;
                            } else {
                                document.documentElement.classList.remove('dark');
                                isDarkMode.value = false;
                            }
                        }
                    });
            });

            return {
                data,
                muteModal,
                unMuteModal,
                timeToRefresh,
                linkifyUrls,
                mute,
                unmute,
                showMuteModal,
                showUnMuteModal,
                humanizeTime,
                humanizeDuration,
                simpleTime,
                isDarkMode,
                toggleTheme,
                MuteOptions
            };
        },
    }).mount('#app');
</script>

</body>
</html>
